<div class="container-fluid bg-dark bg-gradient min-vh-100">
  <!-- CONTENEDOR PARA MOVILES -->
  <div class="d-sm-block d-md-none">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Solo Pantallas Moviles</p>
      </div>
    </div>
  </div>
  <!-- Contenedor para desktop -->
  <div class="d-none d-md-block">
    <div class="row">
      <div class="col-2 min-vh-100 bg-dark">
        <span class="h1 text-light">ArtJar</span>
        <div class="list-group">
          <div *ngIf="!_statusIs">
            <a [routerLink]="['/LoginRegistro']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action">Login/Registro</a>
          </div>
          
          <a [routerLink]="['/GuardTest']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action">GuardTest</a>
          <a href="#" class="list-group-item list-group-item-action">A third link item</a>
          <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
          <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
          <div *ngIf="_statusIs">
            <a (click)="LogOut()" class="list-group-item list-group-item-action">Logout</a>
          </div>
        </div>
      </div>
      <div class="col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
