<div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="card card-95">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <!-- INICIO FORMULARIO LogIn -->
                        <form >
                            <!--
                                Campo fichero,
                                Cantidad necesaria para desbloquear
                                Boton de subida
                            -->
                            <input type="file" accept="image/png, image/jpeg, image/jpg" id="imgInput"
                                name="img"  />
                            <div class="form-row d-flex justify-content-center my-2">
                                <div class="form-group col-6">
                                    <label for="contra">
                                        <strong>
                                            Contraseña
                                        </strong>
                                    </label>
                                    <input type="password" formControlName="contra" class="form-control" id="contra"
                                        placeholder="escribe tu password...">
                                </div>
                            </div>
                        </form>
                        <!-- FIN FORMULARIO LogIn -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>