<div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="card card-95">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- INICIO FORMULARIO LogIn -->
                        <form [formGroup]="formImg" enctype="multipart/form-data" (ngSubmit)="suibirImagen()">
                            <!--
                                Campo fichero,
                                Cantidad necesaria para desbloquear
                                Boton de subida
                            -->
                            <div
                                class="form-row d-flex justify-content-center my-2 align-items-center align-self-center">

                                <div class="form-group col-6">
                                    <label for="imgInput">
                                        <strong>
                                            Imagen
                                        </strong>
                                    </label>
                                    <input type="file" class="form-control" formControlName="imgInput" #InputImgTag (change)="cargaFichero(InputImgTag)" accept="image/png, image/jpeg, image/jpg" id="imgInput"
                                        multiple="false" />
                                </div>
                            </div>

                            <div
                                class="form-row d-flex justify-content-center my-2 align-items-center align-self-center">
                                <div class="form-group col-6">
                                    <label for="precio">
                                        <strong>
                                            Precio
                                        </strong>
                                    </label>
                                    <input type="number" formControlName="precioInput" class="form-control" id="precioInput" min="1">
                                </div>
                            </div>

                            <div class="form-row d-flex justify-content-center my-2">
                                <button type="submit" class="btn btn-primary" [disabled]="formImg.status!=='VALID'">
                                    Subir
                                </button>
                            </div>
                        </form>
                        <!-- FIN FORMULARIO LogIn -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>